numpy>=1.13
cython
h5py >= 2.3.0
pytest==3.5
numpydoc
scipy >= 0.13.0
matplotlib
pyyaml
tensorboardX==1.0
git+https://github.com/Rachine/DTW_Cython.git
git+https://github.com/bootphon/spectral.git
git+https://github.com/bootphon/h5features.git
